
dados/MICRODADOS_CADASTRO_IES_2020.CSV
dados/MICRODADOS_CADASTRO_CURSOS_2020.CSV
dados/MICRODADOS_CADASTRO_CURSOS_2022.CSV
dados/MICRODADOS_CADASTRO_IES_2021.CSV
dados/MICRODADOS_ED_SUP_IES_2022.CSV
dados/MICRODADOS_CADASTRO_CURSOS_2021.CSV
